 .accordion {
   width: 100%;
 }

 .accordion-header {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
 }

 .accordion-header-details {
   display: flex;
   align-items: center;
 }

 .details {
   display: flex;
   flex-direction: column;
   padding-left: 20px;
 }

 .details span {
   opacity: 0.5;
   font-size: 14px;
 }

 .email {
   background: none;
   color: white;
   border: none;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0;
 }

 .delete {
   background: none;
   color: rgb(206, 4, 4);
   border: none;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0;
 }

 .edit {
   background: none;
   color: white;
   border: none;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0;
 }

 .edit:hover,
 .delete:hover,
 .email:hover {
   transform: scale(1.3);
 }

 .contact-expand {
   cursor: pointer;
   margin-right: 20px;
   transition: ease-out 0.3s;
 }

 .contact-expand-rotated {
   transform: rotate(180deg);
 }