 .contact {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   color: white;
   border-radius: 999px 300px 300px 999px;
   overflow: hidden;
   padding-right: 20px;
   transition: 0.4s;
   max-width: 30rem;
 }

 .contact>div {
   display: flex;
   align-items: center;
   gap: 20px;
   padding-right: 20px;
 }

 .contact img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;
 }

 .contact:hover {
   background: #525252;
 }

 .contact:hover .delete,
 .contact:hover .email,
 .contact:hover .more {
   opacity: 1;
 }

 .details {
   display: flex;
   flex-direction: column;
 }

 .details span {
   opacity: 0.5;
   font-size: 14px;
 }
 
 .email {
   background: none;
   color: white;
   border: none;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0;
 }

 .email:hover {
   transform: scale(1.3);
 }

 .more {
   background: none;
   color: rgb(206, 4, 4);
   border: none;
   transition: 0.4s;
   cursor: pointer;
   opacity: 0;
 }

 .more:hover {
   transform: scale(1.3);
 }